$color-border: #eeeeee;
$color-text: #000000;

@mixin font  ($size, $height: $size, $weight: bold, $style: normal) {
    font-size: $size;
    line-height: $height;
    font-style: $style;
    font-weight: $weight;
}

// @extend
%burger-line {
    display: inline-block;
    position: absolute;
    background-color: #173a56;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    content: "";
}

%active-line {
    padding-bottom: 5px;
    border-bottom: 2px solid #fb565a;
}
