$color-border: #eeeeee;
$color-text: #000000;



// @extend
%burger-line {
    display: inline-block;
    position: absolute;
    background-color: #173a56;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    content: "";
}

%active-line {
    padding-bottom: 5px;
    border-bottom: 2px solid #fb565a;
}

%footer-pack {
max-width: 1180px;
margin: 0 auto;
box-sizing: border-box;      
height: 217px;
display: flex;
justify-content: space-around;
align-items: center;
.social_link {
    opacity: .3;
    }
    .social_link:hover{
        opacity: 1;
    }
    .social_link:active{
        opacity: .6;
    }
    .discount_name {
    font-size: 2em;
    font-weight: 700;
    line-height: 36px;
    }
    .discount_description {
    font-weight: 400;
    line-height: 22px;
    }
}