@import "constants";

// общие стили
html {
    font-size: 10px;
    }
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.menu{
    display: none;     
}
.sub_menu {
    text-align: center;
    background-color: lightgrey;
    border-radius: 4px;
    opacity: .9;
}
button:active, button:focus {
    outline: none;
  }
button::-moz-focus-inner {
    border: 0;
  }

// header
.background {
    background-color: $color-border;
    max-width: 100%;
}
header {
   
    box-sizing: border-box;
     color: $color-text;
    // header navigation
    .active { @extend %active-line;}
.slide_image {
    max-width: 100%
    }
.logo:hover{
    opacity: 0.8;
}
.logo:active {
    opacity: 0.3;
}
.conteiner_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 20px;
    a:hover{
    color: #fb565a;
    }
    a:active{
    color:#a7a7a7
    }
}
.link {
    @include font ($size: 1em, $height: 30px, $weight: 700);
    text-transform: uppercase;
    text-decoration: none;
    color: $color-text;
    margin-right: 20px;
}
.basket {
    .basket_link{
        margin-right: 20px;
        @include font ($size: 1em, $height: 30px, $weight: 700);
        color: $color-text;
        text-transform: uppercase;
        text-decoration: none;
    }
}
// header slider

.conteiner_slide1 {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.slide{
    display: none;
    }
.btn1{
    @include position  ($position: absolute, $top: 50%, $left: 44%) 
}
.btn2{
    @include position  ($position: absolute, $top: 50%, $left: 46%) 
}
.btn3{
    @include position  ($position: absolute, $top: 50%, $left: 48%) 
}
    .btn1:checked ~ .conteiner_slide1{
    display: flex !important
    }
    .btn2:checked ~ .conteiner_slide2{
    display: flex !important
    }
    .btn3:checked ~ .conteiner_slide3{
    display: flex !important
    }

.header_slider{
    display: flex;
    flex-direction: column;
    max-width: 35%;
      .index_name{
                  @include font ($size: 3.2em, $height: 50px, $weight: 900);
                  padding-bottom: 15px;
    }
    .description_head{
        @include font ($size: 1em, $height: 24px, $weight: 400);
        padding-bottom: 10px;
    }
    .lern_more {
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    color: #ffffff;
    @include font ($size: 1em, $height: 18px, $weight: 500);
    border-radius: 8px;
    cursor: pointer;
    }
    .lern_more:hover {
    background-color: #e74246;
    
    }
    .lern_more:active {
    background-color: #d7373b;
    color: #e37376;
    }
    
}
.conteiner_slide2 {
    display: none;
    justify-content: space-around;
    align-items: center;
}
.conteiner_slide3 {
    display: none;
    justify-content: space-around;
    align-items: center;
}
}


// main Advantages
main {
max-width: 1180px;
margin: 0 auto;
box-sizing: border-box;  
padding-left: 10px;
}

.container_advantages {
    padding: 40px 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid $color-border;
    .advantages__img{ max-width: 100%; }

   .adv_name{
    @include font ($size: 1.4em, $height: 30px, $weight: 700);
    text-transform: uppercase;
    }

   .adv_description {
    max-width: 250px;
    @include font ($size: 1em, $height: 24px, $weight: 400);
    }
    .order {
    width: 160px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    @include font ($size: 1em, $height: 18px, $weight: 500);
     }
     .red {
        background-color: #fb565a;
    }
    .red:hover { background-color: #e74246;  }
    .red:active {
        background-color: #d7373b;
        color: #e37376;
        }
    .green{   background-color: #00ca74;  }
    .green:hover { background-color: #00bc6c;  }
    .green:active {
        background-color: #00aa62;
        color: #3dbe88;
        }
    .yellow {  background-color: #efc84a;  }
    .yellow:hover { background-color: #eab534;  }
    .yellow:active {
        background-color: #e5a722;
        color: #edc164;;
         }
}
//main Description
.container_description{
    height: 525px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid $color-border;
    .description {
        max-width: 620px;
        .desc_name{ @include font ($size: 2.8em, $height: 45px, $weight: 600); }
        .desc_description { @include font ($size: 1em, $height: 24px, $weight: 400); }
        .order_name {
            @include font ($size: 1em, $height: 24px, $weight: 600);
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        .order__line {
            display: flex;
            .types_order {
                display: block;
                font-weight: 400;    
                margin-bottom: 3%; 
                padding-left: 15px;
            }      
            .redline {
                display: inline-block;
                width: 30px;
                height:30px;
                position: relative;
                .redline__line {
                     position: absolute;
                    background-color: #fb565a;
                    border-radius: 5px;
                    width: 100%;
                    height: 3px;
                    content: "";
                    top: 25%;
                  }
             }   
         } 
     }
}

//main Examples
.examples{
    height: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $color-border;
    cursor: pointer;
    .exaple {
        opacity: 0.2;
    }
    .bord {
        padding-right: 5%;
        border-right: 2px solid $color-border;
    }
       .exaple:hover {
        opacity: 1;
    }
    .exaple:active {
        opacity: .1;
    }
}
// main maps
.maps {
margin-top: 5%;
max-width: 100%;
cursor: pointer;
}
//footer
footer {
max-width: 1180px;
margin: 0 auto;
box-sizing: border-box;      
padding: 20px 0 30px;
display: flex;
justify-content: space-around;
align-items: center;
.social {
    display: flex;
    .social__div {
        text-align: center;
        justify-content: center;
        width: 26px;
        height: 23px;
        background-color: #e1e1e1;
        border: 25px solid #e1e1e1;
        border-radius: 100%;
            .social__vk {
                padding-top: 5px;
            }
        }
        .social_link { padding-right: 20px; }
        .social__div:hover{
            background-color: #e74246;
            border: 25px solid #e74246;
        }
        .social__div:active{
            background-color: #d7373b;
            border: 25px solid #d7373b;
            img{
                opacity: .3;
            }
        }
           
}

    .discount_name { @include font ($size: 2em, $height: 36px, $weight: 700);}
    .discount_description { @include font ($size: 1em, $height: 22px, $weight: 400); }
}

// media
.burger  {
    display: none;
    width: 30px;
    height: 25px;
    position: relative;
    &::before {
        @extend %burger-line;
        top: 0;
        left: 0;
    }
    &::after {
        @extend %burger-line;
        bottom: 0;
        left: 0;
    }
}
.burger__line {
    @extend %burger-line;
    top: calc(50% - 1.5px);
}

// media
@media screen and (max-width: 768px){
// media burger menu
#open:checked ~ .menu {
    display: flex;
}
#open {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 32px;
    height: 32px;
    opacity: 0;
}
   .menu {
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    width: 160px;
    a{ @include font ($size: 1.4em, $height: 40px); }
    }

//media button
button {
    font-weight: 600;
    font-size: 1.8rem;
}
    
// media header
header {
    max-width: 768px;
    height: max-content;
    .burger  {
        display: inline-block;
        }
    nav {
        display: none;
    }
    .conteiner_slide1, .conteiner_slide2, .conteiner_slide3 {
        flex-direction: column;
     }
     .conteiner_header2{
        overflow: hidden;
        .header_slider{
            align-items: center;
            max-width: 70%;
        }
        .index_name { @include font ($size: 2.2em, $height: 34px); }
        .description_head{ 
            @include font ($size: 1.5em, $height: 20px, $weight: 550); 
            padding-bottom: 15px;
        }
            
    }
    }
   
// media main
main{
     .container_advantages{
        flex-direction: column;
           .advantages{
            padding-bottom: 40px;
            text-align: center;
               .adv_description{
                   max-width: 100%;
               }
        }
    }
    .container_description {
       height: max-content;
       flex-wrap: wrap;
       font-size: 1.3rem;
       padding-bottom: 20px;
       .types_order{
           font-size: 1.6rem;
       }
    }
   
    .examples {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 25px 0 25px;
        .bord {
            border-right: hidden;
         }
    }

}
// media footer
footer{flex-direction: column; }
    .discount { font-size: 1.3rem; }
}
