html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 545px;
  color: #000000;
}

.active {
  padding-bottom: 5px;
  border-bottom: 2px solid #fb565a;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.conteiner_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3%;
  padding-bottom: 20px;
}

.conteiner_header a:hover {
  color: #fb565a;
}

.conteiner_header a:active {
  color: #a7a7a7;
}

.link {
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
}

.basket .basket_link {
  margin-right: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.slider_roll {
  position: absolute;
  left: 45%;
  top: 480px;
}

.slider_roll #slider1, .slider_roll #slider2, .slider_roll #slider3 {
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.slider_roll .activeted {
  border: 1px solid black !important;
  border-radius: 10px;
}

.conteiner_slide1 {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 35%;
}

.header_slider .index_h1 {
  font-size: 3.2em;
  font-weight: 900;
  line-height: 50px;
}

.header_slider .description_head {
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 10px;
}

.header_slider .lern_more {
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.header_slider .lern_more:hover {
  background-color: #e74246;
}

.header_slider .lern_more:active {
  background-color: #d7373b;
  color: #e37376;
}

.slide_image {
  max-width: 40%;
}

.conteiner_slide2 {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner_slide3 {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visible {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

main {
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container_advantages {
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #eeeeee;
}

.container_advantages .adv_name {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.container_advantages .adv_description {
  max-width: 250px;
  font-weight: 400;
  line-height: 24px;
}

.container_advantages .order {
  width: 160px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  line-height: 18px;
}

.container_advantages .red {
  background-color: #fb565a;
}

.container_advantages .red:hover {
  background-color: #e74246;
}

.container_advantages .red:active {
  background-color: #d7373b;
  color: #e37376;
}

.container_advantages .green {
  background-color: #00ca74;
}

.container_advantages .green:hover {
  background-color: #00bc6c;
}

.container_advantages .green:active {
  background-color: #00aa62;
  color: #3dbe88;
}

.container_advantages .yellow {
  background-color: #efc84a;
}

.container_advantages .yellow:hover {
  background-color: #eab534;
}

.container_advantages .yellow:active {
  background-color: #e5a722;
  color: #edc164;
}

.container_description {
  height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #eeeeee;
}

.container_description .description {
  max-width: 620px;
}

.container_description .description .desc_name {
  font-size: 2.8em;
  font-weight: 600;
  line-height: 45px;
}

.container_description .description .desc_description {
  font-weight: 400;
  line-height: 24px;
}

.container_description .description .order_name {
  font-weight: 500;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.container_description .description .types_order {
  display: block;
  font-weight: 400;
  margin-bottom: 3%;
}

.container_description .description .types_order .redline {
  margin-right: 10px;
}

.examples {
  height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #eeeeee;
  cursor: pointer;
}

.examples .exaple {
  opacity: 0.2;
}

.examples .bord {
  padding-right: 5%;
  border-right: 2px solid #eeeeee;
}

.examples .exaple:hover {
  opacity: 1;
}

.examples .exaple:active {
  opacity: .1;
}

.maps {
  margin-top: 5%;
  max-width: 1180px;
  height: 450px;
  overflow: hidden;
  cursor: pointer;
}

footer {
  max-width: 1180px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social_link {
  opacity: .3;
}

footer .social_link:hover {
  opacity: 1;
}

footer .social_link:active {
  opacity: .6;
}

footer .discount_name {
  font-size: 2em;
  font-weight: 700;
  line-height: 36px;
}

footer .discount_description {
  font-weight: 400;
  line-height: 22px;
}

.burger::before, .burger::after, .burger__line {
  display: inline-block;
  position: absolute;
  background-color: #173a56;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  content: "";
}

.burger {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
}

.burger::before {
  top: 0;
  left: 0;
}

.burger::after {
  bottom: 0;
  left: 0;
}

.burger__line {
  top: calc(50% - 1.5px);
}

@media screen and (max-width: 768px) {
  header {
    max-width: 768px;
  }
  .burger {
    display: inline-block;
  }
  nav {
    display: none;
  }
  .conteiner_header2 {
    overflow: hidden;
  }
  .conteiner_header2 .header_slider {
    height: 305px;
    max-width: 250px;
  }
  .conteiner_header2 .index_h1 {
    font-size: 2.1em !important;
    line-height: 34px !important;
  }
  .conteiner_header2 .description_head {
    font-size: 1.2rem;
    font-weight: 550;
    line-height: 20px;
  }
  .conteiner_header2 .slide__image {
    width: 466px;
    height: 272px;
  }
  .container_advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1100px;
  }
  .container_advantages .advantages {
    padding-bottom: 15px;
    text-align: center;
  }
  .container_advantages .advantages .adv_description {
    max-width: 100%;
  }
  .desc_name {
    font-size: 1.8em !important;
  }
}
/*# sourceMappingURL=main.css.map */