body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

// header
header {
    background-color: #eeeeee;
    box-sizing: border-box;
    height: 545px;
    color: #000000;
    }
.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #fb565a;
}
.logo:hover{
    opacity: 0.8;
}
.logo:active {
    opacity: 0.3;
}
.conteiner_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 20px;

    a:hover{
    color: #fb565a;
    }
    a:active{
    color:#a7a7a7
    }
}

.link {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-right: 20px;
}
.basket {
    .basket_link{
        margin-right: 20px;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
    }
}
.slider_roll{
    position: absolute;
    left: 45%;
    top: 465px;
    #slider1, #slider2, #slider3 {
        cursor: pointer;
        margin-right: 10px;
        border: 1px solid #ffffff;
        border-radius: 10px;
      }
    .activeted {
     border: 1px solid black !important;
     border-radius: 10px;
    }
}

.conteiner_slide1 {
    display: none;
    justify-content: space-around;
    align-items: center;
}
.header_slider{
    display: flex;
    flex-direction: column;
      .index_h1{
        font-size: 55px;
        font-weight: 900;
        line-height: 55px;
    }
    .description_head{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 5%;
    }
    .lern_more {
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 8px;
    cursor: pointer;
    }
    .lern_more:hover {
    background-color: #e74246;
    
    }
    .lern_more:active {
    background-color: #d7373b;
    color: #e37376;
    }
    
}
.slide_image{
    margin-right: 100px;
   }
.one {
    max-width: 510px;
}
.two {
    max-width: 510px;
}
.three {
    max-width: 510px;
}
.conteiner_slide2 {
    display: none;
    justify-content: space-around;
    align-items: center;
}
.conteiner_slide3 {
    display: none;
    justify-content: space-around;
    align-items: center;
}
.visible {
    display: flex !important;
}

// main Advantages
main {
max-width: 1180px;
margin: 0 auto;
box-sizing: border-box;  
}

.container_advantages {
    height: 510px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
   .adv_name{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    }

   .adv_description {
    max-width: 250px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }
    .order {
    width: 160px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
     }
     .red {
        background-color: #fb565a;
    }
    .red:hover { background-color: #e74246;  }
    .red:active {
        background-color: #d7373b;
        color: #e37376;
        }
    .green{   background-color: #00ca74;  }
    .green:hover { background-color: #00bc6c;  }
    .green:active {
        background-color: #00aa62;
        color: #3dbe88;
        }
    .yellow {  background-color: #efc84a;  }
    .yellow:hover { background-color: #eab534;  }
    .yellow:active {
        background-color: #e5a722;
        color: #edc164;;
         }
}
//main Description
.container_description{
    height: 525px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    .description {
        max-width: 620px;
            .desc_name{
            font-size: 45px;
            font-weight: 600;
            line-height: 45px;
        }
            .desc_description {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
        .order_name {
           font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .types_order {
            display: block;
            font-weight: 400;    
            margin-bottom: 3%; 
            .redline{
                margin-right: 10px;
            }  
        }
    }
}
//main Examples
.examples{
    height: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    cursor: pointer;
    .exaple {
        opacity: 0.2;
    }
    .bord {
        padding-right: 5%;
        border-right: 2px solid #eeeeee;
    }
    .exaple:hover {
        opacity: 1;
    }
    .exaple:active {
        opacity: .1;
    }
}
// main maps
.maps {
margin-top: 5%;
max-width: 1180px;
height: 450px;
overflow: hidden;
cursor: pointer;
}
//footer
footer {
max-width: 1180px;
margin: 0 auto;
box-sizing: border-box;      
height: 217px;
display: flex;
justify-content: space-around;
align-items: center;
.social_link {
    opacity: .3;
    }
    .social_link:hover{
        opacity: 1;
    }
    .social_link:active{
        opacity: .6;
    }
    .discount_name {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    }
    .discount_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    }
}
