body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
header {
    background-color: #eeeeee;
    box-sizing: border-box;
    height: 340px;
    color: #000000;
    }

.conteiner_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
}

.nav_a {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-right: 20px;
}
.basket_li {
    margin-right: 20px;
}
.head_name {
 text-align: center;
font-size: 55px;
font-weight: 500;
line-height: 55px;
 }